@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --lavender: #7f3cf0;
  --lavender-teks: #b45cff;
  --lavender-dark: #3b1b6d;
  --dark: #050709;

  --font-heading: "Russo One", sans-serif;
  --font-body: "Sora", sans-serif;

  --gradient-lavender: linear-gradient(
    to right,
    var(--lavender),
    var(--lavender-dark)
  );
  --gradient-lavender-to-white: linear-gradient(
    to right,
    var(--lavender),
    var(--lavender-teks),
    #ffffff
  );
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-lavender: var(--lavender);
  --color-lavender-teks: var(--lavender-teks);
  --color-lavender-dark: var(--lavender-dark);
  --color-dark: var(--dark);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}

.bg-gradient-lavender {
  background: var(--gradient-lavender);
}

.bg-gradient-lavender-to-white {
  background: var(--gradient-lavender-to-white);
  bg-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

/* Hide scrollbar globally */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

html {
  scroll-behavior: smooth;
}
