@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --lavender: #7f3cf0;
  --lavender-teks: #b45cff;

  --font-heading: "Russo One", sans-serif;
  --font-body: "Sora", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-lavender: var(--lavender);
  --color-lavender-teks: var(--lavender-teks);

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body);
}
